@using Beyova;
@using Beyova.ApiTracking;
@model List<SSOAuthorizationPartner>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Token</th>
                <th>Token Expiration</th>
                <th>Callback URL</th>
                <th>Created Stamp (UTC)</th>
                <th>Last Updated Stamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="javascript:showPartner('@(one.Key)')">@(one.Name)</a></td>
                            <td>@(one.Token)</td>
                            <td>@(one.TokenExpiration) Minutes</td>
                            <td>@(one.CallbackUrl)</td>
                            <td>@(one.CreatedStamp.ToFullDateTimeString())</td>
                            <td>@(one.LastUpdatedStamp.ToFullDateTimeString())</td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="6">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>