@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova.AzureExtension;
@using Beyova;
@using Beyova.CommonAdminService;
@model List<BinaryStorageMetaData>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Container</th>
                <th>Content Type</th>
                <th>Length</th>
                <th>Hash (MD5)</th>
                <th>Duration (Second)</th>
                <th>Height (MD5)</th>
                <th>Width (MD5)</th>
                <th>Created Stamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="@(Url.Action("DownloadBinaryStorage","BinaryStorage", new { container=one.Container, identifier=one.Identifier, environment=EnvironmentEndpointController.CurrentEnvironment}))" target="_blank">@(one.Name)</a></td>
                            <td>@(one.Container)</td>
                            <td>@(one.Mime)</td>
                            <td>@(one.Length)</td>
                            <td>@(one.Hash)</td>
                            <td>@(one.Duration)</td>
                            <td>@(one.Height)</td>
                            <td>@(one.Width)</td>
                            <td>@(one.CreatedStamp.ToFullDateTimeString())</td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="10">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>