@using Beyova;
@using Beyova.CodeSmith;
@model CodeWorkshop
@{
    ViewBag.Title = "Code Smith";
}

@section css{

}
@section js{
    <script type="text/javascript">
        function generate(func) {
            var formObject = $("#form");
            var json = getForm(formObject);
            var form = formObject[0];

            if (!$("#interfaces input:checked").length) {
                alert("No interface is selected.");
                return false;
            }

            json["InterfaceFilters"] = [];

            $("#interfaces input:checked").each(function (i, c) {
                json["InterfaceFilters"].push($(c).val());
            });

            $("#settingJson").val(JSON.stringify(json));
            form.action = "/CodeSmith/Generate/?key=@(Model.Key)" + "&func=" + func;
          
            form.submit();
        }

        $(document).ready(function () {

            $("#selectAll").click(function () {
                $("#interfaces input").prop("checked", true);
            });

            $("#unSelectAll").click(function () {
                $("#interfaces input").prop("checked", false);
            });
        });

    </script>

}
@section modal{
}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2><a href="@(Url.Action("Index","CodeSmith"))">Code Smith</a></h2>
        <em>@(Model.Key)</em>
    </div>
    <div class="main-content">
        <form enctype="multipart/form-data" id="form" target="_blank" action="" method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Code File Identifier</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="" class="form-control" name="CodeFileIdentifier" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Prefix</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="" class="form-control" name="ClassPrefix" />
                    </div>
                </div>
                <input type="hidden" name="setting" id="settingJson" />
                <div class="form-group">
                    <label class="col-sm-3 control-label">Interfaces</label>
                    <div class="col-sm-8" id="interfaces">
                        @{
                            var interfaces = Model.GetInterfaces().ToList().OrderBy(x => x.Value);
                            foreach (var one in interfaces)
                            {
                                <text>
                                    <label class="fancy-checkbox">
                                        <input type="checkbox" checked="checked" value="@(one.Key)" name="interface">
                                        <span><strong>@(one.Value)</strong> (@(one.Key))</span>
                                    </label>
                                </text>
                            }
                        }
                        <input type="button" class="btn btn-default" value="Select All" id="selectAll" />
                        <input type="button" class="btn btn-default" value="Unselect All" id="unSelectAll" />
                    </div>
                </div>

                <input type="button" class="btn btn-primary" id="generateOc" value="Generate Objective C" onclick="generate('oc')" />
                <input type="button" class="btn btn-primary" id="generateDoc" value="Generate Documentation" onclick="generate('doc')" />
            </div>
        </form>
    </div>
</div>
