@using Beyova;
@using Beyova.ExceptionSystem;
@model ExceptionInfo

<fieldset>
    <legend>Exception</legend>
    <div class="table-responsive exceptionContainer">
        <table class="table">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Key</td>
                    <td>@(Model.Key)</td>
                </tr>
                <tr>
                    <td>Major Code</td>
                    <td>@(Model.Code.Major.EnumToString())</td>
                </tr>
                <tr>
                    <td>Minor Code</td>
                    <td>@(Model.Code.Minor )</td>
                </tr>
                <tr>
                    <td>Exception Type</td>
                    <td>@(Model.ExceptionType)</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>@(Model.Message)</td>
                </tr>
                <tr>
                    <td>Target Site</td>
                    <td><pre>@(Model.TargetSite)</pre></td>
                </tr>
                <tr>
                    <td>Stack Trace</td>
                    <td><pre>@(Model.StackTrace)</pre></td>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>@(Model.Source)</td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>@(Model.Level.EnumToString())</td>
                </tr>
                <tr>
                    <td>Server Identifier</td>
                    <td>@(Model.ServerIdentifier)</td>
                </tr>
                <tr>
                    <td>Service Identifier</td>
                    <td>@(Model.ServiceIdentifier)</td>
                </tr>
                <tr>
                    <td>Operator Key</td>
                    <td>@(Model.OperatorCredential == null ? string.Empty : Model.OperatorCredential.Key.ToString())</td>
                </tr>
                <tr>
                    <td>Operator Name</td>
                    <td>@(Model.OperatorCredential == null ? string.Empty : Model.OperatorCredential.Name)</td>
                </tr>

                <tr>
                    <td>Created Stamp (UTC)</td>
                    <td>@(Model.CreatedStamp.ToFullDateTimeString())</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td><pre><code class="json">@(Model.Data)</code></pre></td>
                </tr>
            </tbody>
        </table>

        @{
            if (Model.InnerException != null)
            {
                <text>
                    @Html.Partial("~/Views/Shared/Beyova/features/ApiTracking/_ApiExceptionDetail.cshtml", Model.InnerException)
                </text>
            }
        }
    </div>
</fieldset>
