@using Beyova;
@using Beyova.ApiTracking;
@using Beyova.ExceptionSystem;
@using EF.E1Technology.Developer.Portal.Controllers;
@model List<ExceptionInfo>
@{
    var environment = Beyova.CommonAdminService.AdminBaseController.CurrentEnvironment.SafeToString("DEV");
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Major Code</th>
                <th>Minor</th>
                <th>Message</th>
                <th>Level</th>
                <th>Server Identifier</th>
                <th>Service Identifier</th>
                <th>Created Stamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="@(Url.Action("ExceptionDetail","Elastic", new { environment, key=one.Key}))" target="_blank">@(one.Key)</a></td>
                            <td>@(one.Code.Major.EnumToString())</td>
                            <td>@(one.Code == null ? string.Empty : one.Code.Minor )</td>
                            <td>@(one.Message)</td>
                            <td>@(one.Level.EnumToString())</td>
                            <td>@(one.ServerIdentifier)</td>
                            <td>@(one.ServiceIdentifier)</td>
                            <td>@(one.CreatedStamp.ToFullDateTimeString())</td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="8">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>