@using Beyova;
@using Beyova.ApiTracking;
@using EF.E1Technology.Developer.Portal.Controllers;
@model List<ApiEventLog>
@{
    var environment = Beyova.CommonAdminService.AdminBaseController.CurrentEnvironment.SafeToString("DEV");
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Trace Id</th>
                <th>Api Full Name</th>
                <th>IP Address</th>
                <th>Raw Url</th>
                <th>Server Identifier</th>
                <th>Service Identifier</th>
                <th>User Agent</th>
                <th>Exception</th>
                <th>Created Stamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="@(Url.Action("ApiEventDetail","Elastic", new { environment, key=one.Key}))" target="_blank">@(one.Key)</a></td>
                            <td>@(one.TraceId)</td>
                            <td>@(one.ApiFullName)</td>
                            <td>@(one.IpAddress)</td>
                            <td title="@(one.RawUrl)">@(one.RawUrl.GetTopNCharacter(30))</td>
                            <td>@(one.ServerIdentifier)</td>
                            <td>@(one.ServiceIdentifier)</td>
                            <td>@(one.UserAgent)</td>
                            <td>
                                @{
                                    if (one.ExceptionKey == null)
                                    {
                                        <text>
                                            No
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <a href="@(Url.Action("ExceptionDetail", "Elastic", new { environment, key = one.ExceptionKey }))" target="_blank">Yes</a>
                                        </text>
                                    }
                                }

                            </td>
                            <td>@(one.CreatedStamp.ToFullDateTimeString())</td>
                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        <text>
                                            <tr><td colspan="9">No Result.</td></tr>

                                        </text>
                                    }
            }

        </tbody>
    </table>
</div>