@using EF.E1Technology.OnlineSchoolPlatform.Model;
@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova;
@using Beyova.ExceptionSystem;
@using Beyova.ApiTracking;
@model ExceptionInfo
@{
    var environment = Beyova.CommonAdminService.AdminBaseController.CurrentEnvironment;
    ViewBag.Title = "API Exception (" + environment + ")";
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";

}


@section css{
    <style>
        fieldset {
            border: dashed 1px #0094ff;
            margin: 5px;
        }

        pre {
            white-space: pre;
        }
    </style>
}
@section js{
    <script src="@(Url.Content("~/Beyova/js/highlight.pack.js"))"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
@section modal{}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>@(Model.Key)</h2>
        <em>API Exception (@environment)</em>
    </div>
    <input type="hidden" id="environment" name="environment" value="@(environment)" />
    <div class="main-content">
        @Html.Partial("~/Views/Shared/Beyova/features/ApiTracking/_ApiExceptionDetail.cshtml", Model)

    </div>
</div>
