@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova.AzureExtension;
@using Beyova;
@model List<BinaryStorageMetaData>
@{
    string azureConnectionString = ViewBag.azureConnectionString;
    var currentPermission = ContextHelper.CurrentPermissions;
    var isAdmin = currentPermission == null ? false : currentPermission.Contains(CommonServiceConstants.Permission.Administrator);
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Container</th>
                <th>Content Type</th>
                <th>Length</th>
                <th>Hash (MD5)</th>
                @{
                    if (isAdmin)
                    {
                        <text>
                            <th></th>
                        </text>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="@(Url.Action("AccessBlob","AzureBlobConsole", new { container=one.Container, identifier=one.Identifier, azureConnectionString=azureConnectionString}))" target="_blank">@(one.Identifier)</a></td>
                            <td>@(one.Container)</td>
                            <td>@(one.Mime)</td>
                            <td>@(one.Length)</td>
                            <td>@(one.Hash)</td>
                            @{
                                if (isAdmin)
                                {
                                    <text>
                                        <td><input type="hidden" value="@(string.Format("{0}:{1}",one.Container, one.Identifier))" /><i class="fa fa-fw fa-recycle delete-blob" title="Delete blob."></i></td>
                                    </text>
                                }
                            }
                        </tr>
                                    }
                                }
                                else
                                {
                                    <text>
                                        <tr><td colspan="@(isAdmin?6:5)">No Result.</td></tr>

                                    </text>
                                }
            }

        </tbody>
    </table>
</div>