@using Beyova;
@using Beyova.ApiTracking;
@using Beyova.Gravity;
@model List<AdminUserInfo>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Login Name</th>
                <th>Product Name</th>
                <th>Email Address</th>
                <th>3rd Party ID</th>
                <th>Language</th>
                <th>Management</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    var productListCache = WebCore.ProductCache.GetAll();
                    foreach (var one in Model)
                    {
                        <tr>
                            <td class="name"><a href="javascript:showEntity('@(one.Key)')">@(one.Name)</a></td>
                            <td>@(one.LoginName)</td>
                            <td>@(one.ProductKey.HasValue ? (productListCache.FirstOrDefault(x => x.Key == one.ProductKey)?.Name) : "<System>")</td>
                            <td>@(one.Email)</td>
                            <td>@(one.ThirdPartyId)</td>
                            <td>@(one.Language)</td>
                            <td>
                                <a href="@(Url.CreateAdminUserRolePanelUrl(one.ProductKey, one.Key))" title="Roles of user" target="_blank"><i class="fa fa-user-circle"></i></a>
                                <a href="@(Url.Action("ResetUserPassword", "CentralAuthentication",new { productKey = one.ProductKey, userKey = one.Key }))" target="_blank" title="Reset Password"><i class="fa fa-key"></i></a>
                                <a class="delete-user" href="#" title="Delete User" userKey="@(one.Key)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="7">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>