@using Beyova;
@using Beyova.ApiTracking;
@using Beyova.Gravity;
@model List<AdminRole>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Product Name</th>
                <th>Management</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    var productListCache = WebCore.ProductCache.GetAll();
                    foreach (var one in Model)
                    {
                        <tr>
                            <td class="name"><a href="javascript:showEntity('@(one.Key)')">@(one.Name)</a></td>
                            <td>@(one.ProductKey.HasValue ? (productListCache.FirstOrDefault(x => x.Key == one.ProductKey)?.Name) : "<System>")</td>
                            <td>
                                <a href="@(Url.CreateAdminRolePermissionPanelUrl(one.ProductKey, one.Key))" title="Permissions of role" target="_blank"><i class="fa fa-cubes"></i></a>
                                <a class="delete-role" title="Delete Role" href="#" roleKey="@(one.Key)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="3">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>