@using Beyova;
@using Beyova.Web;
@model Tuple<AdminUserInfo, List<AdminRole>, List<AdminRoleBinding>>
@{
    ViewBag.Title = "Roles of Admin User";
    var userInfo = Model == null ? null : Model.Item1;
    var roles = Model == null ? new List<AdminRole>() : Model.Item2;
    var userRoleBindings = Model == null ? new List<AdminRoleBinding>() : Model.Item3;
    var parameterProductKey = Beyova.Gravity.CentralManagementContext.ParameterProductKey;
}

@section css{
}
@section js{
    <script type="text/javascript">
        function bindRole(userKey, roleKey) {
         callAction("/CentralAuthentication/QueryAdminRole/?productKey=@(parameterProductKey)", criteria, function (response) {
                $('#result').html(response);
            }, undefined, function () {
            });
        }

         function unBindRole(userKey, roleKey) {
            callAction("/CentralAuthentication/QueryAdminRole/?productKey=@(parameterProductKey)", criteria, function (response) {
                $('#result').html(response);
            }, undefined, function () {
            });
        }

         $(document).ready(function () {
             $("#mapTable").delegate("td.select > input", "change", function () {
                 var checked = $(this).prop("checked");
                 var roleKey = $(this).prop("value");

                 var baseUrl = "/CentralAuthentication/" + (checked ? "BindRoleOnUser" : "UnbindRoleOnUser") + "/?productKey=@(parameterProductKey)";

                 callAction(baseUrl, { OwnerKey:"@(userInfo.Key)", RoleKey: roleKey, ProductKey:"@(parameterProductKey)"}, function (response) {

                }, undefined, function () {
                });
             });
        });


    </script>

}

@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>Roles of Admin User</h2>
        <em>@(userInfo.Name)</em>
    </div>
    <div class="main-content">
        <div class="table-responsive" id="mapTable">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Role Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (roles.HasItem())
                        {
                            var productListCache = WebCore.ProductCache.GetAll();
                            foreach (var one in roles)
                            {
                                bool isSelected = userRoleBindings.Any(x => x.RoleKey == one.Key);
                    <tr>
                        <td class="select">@(Html.CreateCheckBox(one.Key.ToString(), isSelected))</td>
                        <td>@(one.Name)</td>
                        <td>@(one.Description)</td>
                    </tr>
                            }
                        }
                        else
                        {
                    <text>
                        <tr><td colspan="3">No Result.</td></tr>

                    </text>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
