<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link rel="stylesheet" href="@(Url.Content("~/Content/bootstrap.min.css"))">
    <link rel="stylesheet" href="@(Url.Content("~/Content/font-awesome.min.css"))">
    @RenderSection("css", false)
</head>
<body>
    <div class="container body-content">
        <div id="body">
            @RenderBody()
        </div>
    </div>
    <div style="position:absolute;bottom:0;left:0;right:0;height:30px;padding:5px 15px;font-size:12px;text-align:left;">
        <span style="font-size:16px;"><a href="https://github.com/beyova/Appior-EnterpriseLDAPComponent" target="_blank"><i class="fa fa-github-square" title="Source Code"></i></a></span>
        <span style="float:right;">Powered by Beyova</span>
    </div>

    <script src="@(Url.Content("~/Scripts/jquery-3.1.1.min.js"))"></script>
    <script src="@(Url.Content("~/Scripts/bootstrap.min.js"))"></script>
    <script src="@(Url.Content("~/Scripts/validator.js"))"></script>
    <script src="@(Url.Content("~/Scripts/qrcode.min.js"))"></script>
    @RenderSection("js", false)

</body>
</html>
