@using Beyova;
@using Beyova.ApiTracking;
@model List<EnvironmentEndpoint>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Environment</th>
                <th>Code</th>
                <th>Host</th>
                <th>Path</th>
                <th>Created Stamp (UTC)</th>
                <th>Last Updated Stamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasItem())
                {
                    foreach (var one in Model)
                    {
                        <tr>
                            <td><a href="javascript:showEnvironmentEndpoint('@(one.Key)')">@(one.Name)</a></td>
                            <td>@(one.Environment)</td>
                            <td>@(one.Code)</td>
                            <td>@(one.Host)</td>
                            <td>@(one.Path)</td>
                            <td>@(one.CreatedStamp.ToFullDateTimeString())</td>
                            <td>@(one.LastUpdatedStamp.ToFullDateTimeString())</td>
                        </tr>
                    }
                }
                else
                {
                    <text>
                        <tr><td colspan="7">No Result.</td></tr>

                    </text>
                }
            }

        </tbody>
    </table>
</div>