@using EF.E1Technology.AuthenticationProfileService.Model;
@using EF.E1Technology.OnlineSchoolPlatform.Model;
@using EF.E1Technology.Developer.Portal.Controllers;
@using E1.Pole.Stone;
@using Beyova;
@using Beyova.ExceptionSystem;
@using Beyova.ApiTracking;
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";
}


@section css{
    <style>
        #filter > * {
            display: inline-block;
            min-width: 50px;
            max-width: 300px;
        }
    </style>
}
@section js{
    <script type="text/javascript">
        function queryUsers() {
            var postJson = getForm($("#filter"));

            $("#result").text("Loading...");
            callAction("/Authentication/UserInfo/" + $("#environment").val(), postJson, function (response) {
                $("#result").html(response);
            }, undefined, function () {
            });
        }

        $(document).ready(function () {
            $("select").multiselect();

            $("#query").click(function () {
                queryUsers();
            });
        });

    </script>

}
@section modal{

}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>Users</h2>
        <em>Authentication &amp; Profile Service</em>
    </div>
    <input type="hidden" id="environment" name="environment" value="@(BaseRemoteRestApiController.CurrentEnvironment.SafeToString("DEV"))" />
    <div class="main-content">
        <div class="bottom-30px" id="filter">
            <select name="FunctionalRole">
                <option value=""> -- All Functional Roles -- </option>
                @{
                    foreach (FunctionalRole one in Enum.GetValues(typeof(FunctionalRole)))
                    {
                        <text>
                            <option value="@((int)one)">@(one.ToString())</option>
                        </text>
                    }
                }
            </select>
            <select name="MarketRegion">
                <option value=""> -- All Market Regions -- </option>
                @{
                    foreach (MarketRegion one in Enum.GetValues(typeof(MarketRegion)))
                    {
                        <text>
                            <option value="@((int)one)">@(one.ToString())</option>
                        </text>
                    }
                }
            </select>
            <input name="Name" placeholder="Name ..." class="form-control" />
            <input name="SchoolCode" placeholder="SchoolCode ..." class="form-control" />

            <select name="Count">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>

            <button id="query" class="btn btn-primary"><i class="fa fa-filter"></i> Find </button>
        </div>

        <div id="result">

        </div>
    </div>
</div>
