<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @RenderSection("meta", false)
    <!-- CSS -->
    <link rel="stylesheet" href="@(Url.Content("~/Content/bootstrap.min.css"))">
    <link rel="stylesheet" href="@(Url.Content("~/css/font-awesome.min.css"))">
    <link rel="stylesheet" href="@(Url.Content("~/Beyova/king/main.css"))">

    <!--[if lte IE 9]>
        <link href="@(Url.Content("~/Beyova/king/main-ie.css"))" rel="stylesheet" type="text/css"/>
        <link href="@(Url.Content("~/Beyova/king/main-ie-part2.css"))" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <style>
        #form > * {
            margin: 5px 0;
        }
    </style>

    @RenderSection("css", false)
</head>

<body>
    <div class="wrapper full-page-wrapper page-auth text-center">
        <div class="inner-page">
            <div class="logo">
                <!-- logo -->
                @Html.Partial("~/Views/shared/Beyova/layout/_Logo.cshtml")
                <!-- end logo -->
            </div>
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <!--
        Copyright
            -->

    </div>

    <!-- Javascript -->
    <script src="@(Url.Content("~/Scripts/jquery-3.1.1.min.js"))"></script>
    <script src="@(Url.Content("~/Scripts/bootstrap.min.js"))"></script>
    <script src="@(Url.Content("~/Beyova/js/validator.js"))"></script>
    <script src="@(Url.Content("~/Beyova/js/qrcode.min.js"))"></script>
    <script src="@(Url.Content("~/Beyova/js/Beyova.js"))"></script>

    @RenderSection("js", false)
</body>
</html>
